{% extends 'base/base.html' %}

{% load static %}
{% block content %}

<title>Octopus - Create New Details</title>
<div class="container-fluid">
    <h1 class="mt-4"></h1>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <i class="fas fa-table mr-1"></i>
                    Details
                </div>
                <div class="col-md-3 text-right">
                    <a class="btn btn-success" href="" role="button">Import</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label>Discussion Details </label>
                            <input class="form-control" id="comments" name="comments"  type="text" placeholder="Activity Name" value="{{detail.comments}}" onkeyup="this.value = this.value.toUpperCase();" required/>
                        </div>
                        <div class="form-group ">
                            <label>Next Follow Up Date </label>
                            <input class="form-control" id="next_follow_date" name="next_follow_date"  type="date" placeholder="Follow Up Date" value="{{detail.next_follow_date}}" onkeyup="this.value = this.value.toUpperCase();" required/>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-4 mb-0"><input type="submit" class="btn btn-primary btn-block"
                        value="{% if discussion %}Update Details{% else %}Add Details{% endif %}">
                </div>
            </form>
        </div>
    </div>
    {% for i in messages %}
    <script>
        alert('{{i}}')
    </script>
    {% endfor %}
    {% endblock %}