{% extends 'base/base.html' %}
{% block content %}
<div class="container-fluid mt-3">
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <i class="fas fa-table mr-1"></i>
                    Activity Details
                </div>
                <div class="col-md-3 text-right">
                    <a class="btn btn-primary" href="{% url 'add_activity' %}" role="button">Add New Activity</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Activity Name</th>
                            <th>Department</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    {% for i in activity %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.department_name}}</td>
                        <td>
                            <a href="/change_activity/{{i.id}}/"><button class="btn btn-success">Edit</button></a>
                        </td>
                        <td>
                            <a href="/delete_activity/{{i.id}}/"><button class="btn btn-danger">Delete</button></a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% for i in messages %}
<script>
    alert('{{i}}')
</script>
{% endfor %}
{% endblock content %}
